<h1>Listing tags</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if !@tags.nil? %>
<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= link_to 'Show Inheritance', tag %></td>
    <td><%= link_to 'Edit Tag', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy Tag', tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<% else %>
<%= "No tags. Create a tag." %>
<% end %>
<%= link_to 'New Tag', new_tag_path %>
