<% current_uri = request.env['PATH_INFO'] %>
<% Post.count >= 2 ? second_to_last_post = Post.last.id-1 : second_to_last_post %>

<section class="posts-list">
    <% if !@posts_list.empty? %>
      <table>
        <tr><td class="reach-me"><a href="#">W</a><td></tr>
       <% @posts_list.each do |post| %>
        <tr>
          <td class="post-title"><%= link_to "#{raw truncate(post.title, :length => 30)}", params.merge(:page => post) %></td>
        </tr>
    <% end %>
      </table>
    <% else %>
      There are no posts.
    <% end %>
</section>

<% if !@posts.empty? %>
  <% @posts.each do |post| %>
    <section class="main-post">
    <% if current_uri != "/posts" %>
        <div class="main-post-title"><%= @posts_list.first.title %></div>
        <div class="main-post-date-time-smaller-media">Published on <%= post.created_at.strftime("%A, %B %e, %Y") %>.</div>
        <div class="main-post-content"><%= raw @posts_list.first.content %></div>
        <div class="main-post-date-time-larger-media">Published on <%= @posts_list.first.created_at.strftime("%A, %B %e, %Y") %>.</div>

      <footer class="main-post-navigation">
        <div class ="main-post-navigation-next">
         <% if @posts_list.size > 1 %>
           <span id="next-post-label"></span>
           <%= link_to raw("#{Post.find_by_id(second_to_last_post).title} <span id='arrow'>&gt</span>"), params.merge(:page => @posts_list.size-1) %>
         <% end %>
        </div>
      </footer>

        <div class="main-footer">
          <div id="copyright">Copyright © 2012 Verdi Erel Ergun. All rights reserved. <a href="#">Find out why.</a></div>
          <div id="mobile">
            <a href="#">O Q</a>
          </div>
        </div>

    <% else %>

        <div class="main-post-title"><%= post.title %></div>
        <div class="main-post-date-time-smaller-media">Published on <%= post.created_at.strftime("%A, %B %e, %Y") %>.</div>
        <div class="main-post-content"><%= raw post.content %></div>
        <div class="main-post-date-time-larger-media">Published on <%= post.created_at.strftime("%A, %B %e, %Y") %>.</div>
      
        <footer class="main-post-navigation">
          <div class ="main-post-navigation-next">
            <% if @posts.previous_page %>
              <span id="next-post-label"></span>
              <%= link_to raw("#{Post.find_by_id(post.id-1).title} <span id='arrow'>&gt</span>"), params.merge(:page => @posts.previous_page) %>
            <% end %>
          </div>
        </footer>

        <div class="main-footer">
          <div id="copyright">Copyright © 2012 Verdi Erel Ergun. All rights reserved. <a href="#">Find out why.</a></div>
          <div id="mobile">
            <a href="#">O Q</a>
          </div>
        </div>

    <% end %>
        
    </section>

  <section class="posts-list-smaller-media">
      <span id="posts-list-smaller-media-title">More posts</span>
      <% if !@posts_list.empty? %>
         <% @posts_list.each do |post| %>
          <ul>
            <li class="post-title"><%= link_to "#{raw truncate(post.title, :length => 15)}", params.merge(:page => post) %></li>
          </ul>
      <% end %>
      <% else %>
        There are no posts.
      <% end %>
      <% end %>
  <% end %>
  </section>

  <div class="profile">
      <ul>
        <li class="me">f <span class="tooltip"><%= image_tag "verdi.jpg" %></span></li>
        <li class="github">a <span class="tooltip"><a href="http://www.github.com/vergun">Github</a></span></li>
        <li class="gmail">m <span class="tooltip"><a href="mailto:vergun@gmail.com?subject=I%20visited%20verdiergun.com.">Gmail</a></span></li>
        <li class="twitter">t <span class="tooltip"><a href="https://twitter.com/#!/vergun">Twitter</a></span></li>
        <li class="facebook">F <span class="tooltip"><a href="http://www.facebook.com/vergun">Facebook</a></span></li>
      </ul>
  </div>






