<% a = current_uri = request.env['PATH_INFO'] %>
<% b = @posts_list.size %>

<section class="posts-list">
    <% if !@posts_list.empty? %>
       <% @posts_list.each do |post| %>
      <table>
        <tr>
          <td class="post-title"><%= link_to "#{raw truncate(post.title, :length => 30)}", params.merge(:page => post) %></td>
        </tr>
      </table>
    <% end %>
    <% else %>
      There are no posts.
    <% end %>
</section>

<% if !@posts.empty? %>
  <% @posts.each do |post| %>
    <section class="main-post">
    <% if a != "/posts" %>
      
        <div class="main-post-title"><%= @posts_list.first.title %></div>
        <div class="main-post-content"><%= raw @posts_list.first.content %></div>
        <div class="main-post-date-time">Published on <%= @posts_list.first.created_at.strftime("%B %e, %Y") %>.</div>

      <footer class="main-post-navigation">
        <div class ="main-post-navigation-next">
        <%= link_to "Next", params.merge(:page => b-1) %>
        </div>
      </footer>

    <% else %>

        <div class="main-post-title"><%= post.title %></div>
        <div class="main-post-content"><%= raw post.content %></div>
        <div class="main-post-date-time">Published on <%= post.created_at.strftime("%A, %B %e, %Y") %>.</div>
      
        <footer class="main-post-navigation">
          <div class ="main-post-navigation-next">
            <% if @posts.previous_page %>
              <%= link_to "Next", params.merge(:page => @posts.previous_page) %>
            <% end %>
          </div>
        </footer>

    <% end %>
        
    </section>

  <% end %>
<% end %>

<div class="profile">
  <%= image_tag "verdi.jpg" %>
  <span class="greeting">Hello.</span>
</div>


<div class="new-post">
  <%= link_to 'New Post', new_post_path %>
</div>



