<% current_uri = request.env['PATH_INFO'] %>
<% second_to_last_post = Post.last.id-1 %>
<section class="posts-list">
    <% if !@posts_list.empty? %>
      <table>
       <% @posts_list.each do |post| %>
        <tr>
          <td class="post-title"><%= link_to "#{raw truncate(post.title, :length => 30)}", params.merge(:page => post) %></td>
        </tr>
    <% end %>
      </table>
    <% else %>
      There are no posts.
    <% end %>
</section>

<% if !@posts.empty? %>
  <% @posts.each do |post| %>
    <section class="main-post">
    <% if current_uri != "/posts" %>
      
        <div class="main-post-title"><%= @posts_list.first.title %></div>
        <div class="main-post-content"><%= raw @posts_list.first.content %></div>
        <div class="main-post-date-time">Published on <%= @posts_list.first.created_at.strftime("%A, %B %e, %Y") %>.</div>

      <footer class="main-post-navigation">
        <div class ="main-post-navigation-next">
         <% if @posts_list.size > 1 %>
           <span id="next-post-label"></span>
           <%= link_to raw("#{Post.find_by_id(second_to_last_post).title} <span id='arrow'>&gt</span>"), params.merge(:page => @posts_list.size-1) %>
         <% end %>
        </div>
      </footer>

    <% else %>

        <div class="main-post-title"><%= post.title %></div>
        <div class="main-post-content"><%= raw post.content %></div>
        <div class="main-post-date-time">Published on <%= post.created_at.strftime("%A, %B %e, %Y") %>.</div>
      
        <footer class="main-post-navigation">
          <div class ="main-post-navigation-next">
            <% if @posts.previous_page %>
              <span id="next-post-label"></span>
              <%= link_to raw("#{Post.find_by_id(post.id-1).title} <span id='arrow'>&gt</span>"), params.merge(:page => @posts.previous_page) %>
            <% end %>
          </div>
        </footer>

    <% end %>
        
    </section>


  <section class="posts-list-justified">
      <% if !@posts_list.empty? %>
         <% @posts_list.each do |post| %>
          <ul>
            <li class="post-title"><%= link_to "#{raw truncate(post.title, :length => 30)}", params.merge(:page => post) %></li>
          </ul>
      <% end %>
      <% else %>
        There are no posts.
      <% end %>
  </section>

    <% end %>
  <% end %>

  <div class="profile">
      <ul>
        <li class="me">f</li>
        <div class="them">
          <li>a</li>
          <li>m</li> 
          <li>t</li>
          <li>F</li>
        </div>
      </ul>
  </div>

  <div class="tooltip">
    <%= image_tag "verdi.jpg" %>
      <aside>
      <ul>
        <li>Github</li>
        <li>/vergun</li>
        <li>E-mail</li>
        <li>vergun@gmail</li>
        <li>Twitter @vergun</li>
        <li>Facebook /vergun</li>
        </aside>
  </div>



