<!DOCTYPE html>
<html lang='en'>
<html>
<head>
  <title>Verdi Ergun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

  <%= csrf_meta_tags %>

 <%# Google Analytics Tracker %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8153770-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</head>

<body>
  <div class="see-more"><a href="#posts-list-smaller-media-title">Touch to see more posts.</a></div>
  <div class="optimized">
    <a href="#">x</a>
    <%#span id="optimized-ios">iOS</span %>
    <span id="optimized-content">View this Web site on your iPhone or iPad to receive a unique experience.</span>
  </div>
  <div class="container">
	 <%= yield %>
  </div>

</body>

</html>

